.container{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    height: 100%;
    width: 100%;
}

.text{
    margin-bottom: 18px;
    font-size: 96px;
    line-height: 70px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    text-align: left;
}

.bubble{
    display: flex;
    padding:10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 70vh;
    background: #D25A5A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.message{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;

}
.img {
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 88%;
    height: 299px;
    margin-bottom: 10px;
    background-color: black;
    background-image: url(../../public/img/aboutus/buildings.png);
    background-size: cover;
    border: solid 26px #6F3434;
  }