body {
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Lato;
    background-image: url("../../public/img/background.jpeg") ;
    background-size: cover;
}

.app-body {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80%;
    padding: 2em 0;
    flex: 1;
}

