.explore-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  row-gap: 2em;
}

.explore-header {
  font-size: 36px;
}

.explore-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60%;
}

.explore-body > .explore-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
  background-color: #D25A5A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 2em 1em;
  width: 25%;
}

.explore-title {
  font-size: 24px;
  font-weight: bold;
}

.search-btn{
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1em;
  padding: 0.5em;
  background: rgba(201, 201, 201, 0.3);
  border: 1px solid #000000;
  border-radius: 10px;
  cursor: pointer;
}

.search-btn > .search-logo{
  width: 25px;
}

.explore-image{
  height: 20%;
}