.page{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title{
    font-size: 32px;
    font-weight: 550;
}

.header-container{
    background-color:#D25A5A ;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: inset 0px -2px 1px rgb(0, 0, 0, 0.8);
}

.search-box{
    color: white;
    background-color: rgb(0, 0, 0, 0.75);
    padding-top: 10px;
    padding-left: 8px;
    padding-bottom: 30px;
}

.header-body {
    margin: 0.5em 0;
}

.header-filter {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

.table-container{
    flex-grow: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    height: 0;
    padding: 1em;
}

.table-header{
    display: flex;
}

.filter-table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    color: white;
}

.flat-table td, .flat-table th {
    padding-bottom: 16px;
    text-align: center;
}

.filter-table thead {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 1em;
}

.filter-table tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

.filter-table .filter-table-body tr {
    width: 100%;
}

.filter-table .filter-table-head, .filter-table .filter-table-body tr {
    display: table;
    table-layout: fixed;
}

.filter-table-head tr th:last-child, .filter-table-body tr td:last-child {
    width: 40%;
}