.page{
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    justify-content: center;
}

.title{
    font-size: 64px;
    font-weight: 550;
}

.header-container{
    background-color:#D25A5A ;
    font-family: 'Lato';
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: inset 0px -2px 1px rgb(0, 0, 0, 0.8);
}

.search-box{
    font-family: 'Lato';
    font-size: 32px;
    color: white;
    background-color: rgb(0, 0, 0, 0.75);
    padding-top: 10px;
    padding-left: 8px;
    padding-bottom: 30px;
}

.header-body{
    font-size: 32px;
}

.table-body{
    font-family: 'Lato';
    font-size: 32px;
    color: white;
    background-color: rgb(0, 0, 0, 0.01);
    display:flex;
    text-align: center;
    justify-content: center;
}


.table{
    font-family: 'Lato';
    font-size: 32px;
    color: white;
    background-color: rgb(0, 0, 0, 0.75);
    display: block;
    overflow-y:scroll;
    height:500px;
}

.table-header{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 200px;
}

.table-header .count{
    padding-left: 350px;
}

.table-container::-webkit-scrollbar-thumb{
    display:none;
}
