.page{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    justify-content: center;
}

.title{
    font-size: 64px;
    font-weight: 550;
}

.header-container{
    background-color:#D25A5A ;
    font-family: 'Lato';
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: inset 0px -2px 1px rgb(0, 0, 0, 0.8);
}

.flat-type{
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-bottom: 20px;
}

.search-box{
    font-family: 'Lato';
    font-size: 32px;
    color: white;
    background-color: rgb(0, 0, 0, 0.75);
    padding-top: 10px;
    padding-left: 8px;
    padding-bottom: 30px;
}

.header-body{
    font-size: 32px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
.table-container{
    font-family: 'Lato';
    font-size: 32px;
    color: white;
    background-color: rgb(0, 0, 0, 0.75);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    max-height: 60vh;
    padding-top: 55vh;
    box-sizing: border-box;
}

.table-header{
    border-bottom: 1px solid rgb(255, 255, 255);
}

td{
    padding: 15px;
    white-space: nowrap;
}

.flat-type{
    display: flex;
    gap: 10px;
    align-items: center;
}

.table-container::-webkit-scrollbar{
    display: none;
}
