.how-to-use-container{
    height: 100%;
    width: 100%;
}

.bracket{
    font-weight: 400;
    width: 80vw;
    background: #D25A5A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 35px;
}


ul {
    margin: 0;
    padding-left: 30px;
  }

.how-to-use-header{
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
}

.how-to-use-title {
    font-weight: bold;
    margin-bottom: 5px;
}
