
.topbox{
    display: flex;
    padding:10px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 80vw;
    background: #D9D9D9;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.mainheader{
  font-size: 38px;
    font-weight: 20;
    text-align: left;
    font-weight: bold;
    margin-left: 20px;
}

.description{
  font-size: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.bot{

    display: flex;
    
    padding:10px;
    flex-direction: column;
    width: 80vw;
    height: 603px;
    background-color: #8B2F2FCC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.calculator-header {
    margin-bottom: 20px;
    margin-left: 20px;
    color:#FFFFFF;

}

.seperator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 1em;
    font-size: 24px;
    flex-shrink: 1;
    flex-basis: auto;
  }

.seperator > .Inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 40px;
    padding: 1em;
    flex-basis: 100%;
    align-items: left;
    text-align: left;
    font-family: 'Lato';
    color : #ffffff;
  }

  .Inputs form{
    width: 10px;
    max-width: 100%;
    position: relative;
  }
  
  input {
    outline: 0;
    background-color: #330c0c00;
    color: white;
    width : 230px;
    border-width: 0 0 2px;
    border-color: white;
  }
  
  input:focus {
    border-color: white;
    outline: 1px dotted #000
  }

    
  select {
    outline: 0;
    background-color: #330c0c00;
    color: white;
    width : 230px;
    opacity: 0.8;
    border-width: 0 0 2px;
    border-color: white;
  }

  .select-items div,.select-selected {
   color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  } 

  select option {
    color: white;
    opacity: 0.8;
    background-color:  #8B2F2FCC;
  }

  select option:checked {
    background-color: #ff0000; /* change this to the color you want */
    color: #fff; /* change this to the color you want */
  }

  input::placeholder {
    opacity: 0.5;
    color: #fff; /* change this to the color you want */
}

  .button {
    display: flex;
    padding: 10px;
    margin-top: 70px;
    align-self: flex-end;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
  }
  
  button {
    background-color: #C9C9C99C;
    color: black;
    border: 2px solid transparent;
    font-weight: bold;
    font-size: 21px;
    width: 210px;
    border-radius: 30px;
    height: 50px;
    transition: 0.4s;
    align-items: right;
    margin-right: 43px;
  }
  
  button:hover {
    background-color: transparent;
    border: 2px solid #8B2F2FCC;
    cursor: pointer;
  }


  input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

  input[type="number"] {
        -moz-appearance: textfield;
      }
  
  .result{

    font-weight: lighter;
    padding:10px;
    align-items: center;
   font-size: 24px;
   margin-left :100px;
   margin-right : 100px;
   margin-top : 15px;
    color: white;
    justify-content: space-between;
 


  }
 span{
font-weight: lighter;
 margin-left :0;
 margin-right : 0;
 margin-top : 0;
 margin-bottom: 0;


 }



  .loan{  
        display: inline-block;
        color: yellow;
        text-decoration: underline;
        cursor: pointer;

  }


  .error{
    background-color: #ffe8e6;
    color: #db2828;
    box-shadow: 0 0 0 1px #db2828 inset,0 0 0 0 transparent;
    padding: 0.5em 2em;
    font-weight: bold;

  }