.loan-recommendation-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* This is the design for the top container --------------------------------------------------------------------------------------*/
.topContainer{
    display: flex;
    padding:10px;
    flex-direction: column;
    justify-content: left;
    row-gap: 0.5em;
    width: 80vw;
    background: #ce6464;
    box-shadow: 0px 4px 4px rgba(8, 8, 8, 0.25);
    border-radius: 10px;
    outline: 2px solid rgb(0, 0, 0);
}

.topHeader{ 
    font-size: 36px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 10px;
    color: white;
}

.topBody{
    margin-left: 30px;
    text-align: left;
    color: white;
}

.topInputHeader form input {
  width: 300px;
  height: 25px;
}


.topSeperator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 1em;
    flex-shrink: 1;
    flex-basis: auto;
}

.topSeperator > .topInputHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 40px;
    margin-top: 30px;
    margin-left: 34px;
    flex-basis: 100%;
    align-items: left;
    text-align: left;
    color : #ffffff;
}

.button1 {
  display: flex;
  margin-top: auto;
  align-self: flex-end;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}

.button1 button {
    background-color: #C9C9C9;
    color: rgb(0, 0, 0);
    border: none;
    font-weight: normal;
    border-radius: 15px;
    transition: 0.4s;
    margin-left: auto; 
    margin-right: auto; 
}
  
.button1 button:hover {
    background-color: #7c7878cc;
    border: 2px solid #8B2F2FCC;
    cursor: pointer;
}


/* This is the design for the top container --------------------------------------------------------------------------------------*/


/* This is the design for the bot container --------------------------------------------------------------------------------------*/
.botContainer{
  flex-grow: 1;
  display: flex;
  padding:10px;
  flex-direction: column;
  width: 80vw;
  background-color: #181616cc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.botHeader{
  text-align: left;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 10px;
  color: white;
}

.botSeperator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 0;
  width: 100%;
  flex-shrink: 1;
  flex-basis: auto;
}

.botSeperator > .botBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 40px;
  margin: 30px 0 0 34px;
  text-align: left;
  font-family: 'Lato';
  color : #ffffff;
}

.botInputHeader form select {
  margin:  0 -30px 0 35px;
  width: 90px;
  height: 26px;
}

/* Styling for the repayment schedule table ---------------------------------------------------------------------------------------*/
.scheduleTable {
  flex-grow: 1;
  color: white;
  border-collapse: collapse;
  margin: 40px 0 0 30px;
  display: flex;
  flex-direction: column;
}


/* Editing <thead> -------------------------------------------------------------------------------------------------------------*/
.scheduleTable thead tr {
  font-weight: bold;
  border-bottom: 2px solid #dddddd;
  display: block;
}

.scheduleTable thead th{
  text-align: left;
}

.scheduleTable thead th:nth-last-child(1) { /*Ending Principle*/
  width:3%;
  padding: 0 0 0 0px;
}
.scheduleTable thead th:nth-last-child(2) { /*Interest Paid*/
  width:5%;
  padding: 0 0 0 0px;
}
.scheduleTable thead th:nth-last-child(3) { /*Monthly Instalment*/
  width:6%;
  padding: 0 0 0 0px;
}

.scheduleTable thead th:nth-last-child(4) { /*Date*/
  width:3%;
  padding: 0 0 0 0px;
}
/* .scheduleTable thead th:nth-last-child(5) {
  width:3%;
  padding: 0 0 0 0px;
} */
/* Editing <thead> -------------------------------------------------------------------------------------------------------------*/


/* Editing <tbody> -------------------------------------------------------------------------------------------------------------*/
.scheduleTable tbody {
  display: block;
  height: 0;
  flex-grow: 1;
  overflow-y: auto; 
}


.scheduleTable tbody tr:nth-of-type(even){
  background-color:#33777c;
}

.scheduleTable tbody tr {
  display: block;
}

.scheduleTable tbody td:nth-last-child(1) { /*Ending Principle*/
  text-align: right;
  width: 200px;
  padding: 0 0 0 0px;
}
.scheduleTable tbody td:nth-last-child(2) { /*Interest Paid*/
  text-align: center;
  width: 400px;
  padding: 0 0 0 0px;
}
.scheduleTable tbody td:nth-last-child(3) { /*Monthly Instalment*/
  text-align: center;
  width: 260px;
  padding: 0 0 0 0px;
}
.scheduleTable tbody td:nth-last-child(4) { /*Date*/
  text-align: left;
  width: 170px;
  padding: 0 0 0 0px;
}
/* .scheduleTable tbody td:nth-last-child(5) {
  text-align: left;
  width: px;
  padding: 0 0 0 0px;
} */

/* Editing <tbody> -------------------------------------------------------------------------------------------------------------*/

/* Styling for the repayment schedule table ---------------------------------------------------------------------------------------*/

/* This is the design for the bot container --------------------------------------------------------------------------------------*/


/* This is the error message -----------------------------------------------------------------------------------------------------*/
#top-error-message{
  color: red;
  font-weight: bold;
  margin: auto 0 0 34px;
}

#bottom-error-message{
  color: red;
  font-weight: bold;
  margin: 0 0 0 34px;
}

/* This is the error message -----------------------------------------------------------------------------------------------------*/