.location-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.location-tabs {
  display: flex;
}

.location-tabs > .location-tab {
  padding: 1em;
  background-color: #F1D6D6;
  border: solid #73708f 1px;
  border-bottom: 0;
  color: black;
}

.location-tabs > .location-tab.active {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.location-tabs > .location-tab:first-of-type {
  border-top-left-radius: 10px;
}

.location-tabs > .location-tab:last-of-type {
  border-top-right-radius: 10px;
}

.location-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}