.location-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.location-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location-tabs-group {
  display: flex;
  flex-direction: row;
}
.location-tabs-group > .location-tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5em;
  padding: 1em;
  background-color: #F1D6D6;
  border: solid #73708f 1px;
  border-bottom: 0;
  color: black;
}

.location-tabs-group > .location-tab.active {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.location-tabs-group > .location-tab > .location-tab-icon {
  width: 25px;
}

.location-tabs-group > .location-tab:first-of-type {
  border-top-left-radius: 10px;
}

.location-tabs-group > .location-tab:last-of-type {
  border-top-right-radius: 10px;
}

.location-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}