/* Price header styles */
.price-header{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px; /* identical to box height */
    color: #000000;
}

.subheader{
    font-family: 'Lato';
    font-style: normal;
    font-size: 40px;
    line-height: 77px; /* identical to box height */
    color: #000000;
}

/* Price filter section styles */
.pricehead{
    margin-top:30px;
    margin-left: 71px;
}

.container.price {
    position: absolute;
    top: 120px;
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
}

.price-filter{
    margin-bottom: 6px;
    width: 100%;
    height: 27vh;
    padding: 10px;
    background: #D25A5A;
    box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    /* Add any additional styles here */
}

/* Price results section styles */
.priceResults{
    width: 100%;
    padding: 10px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.3);
    float:left;
    /* Add any additional styles here */
}
.search-area{
    margin-top: 10px;
}

.tableheader{
    padding-top: 10px;
    padding-bottom: 10px;
    width:100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    /* Add any additional styles here */
}

.tableheader > div {
    flex: 1;
    text-align: center;
}

.tablecontent{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    /* Add any additional styles here */
}

.tablecontent > div {
    flex: 1;
    text-align: center;
}


.pricehead input[type=text] {
    outline: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    border:none;
    border-bottom: 1px solid black;
    width: 130px;
    background-color: #D25A5A;
    text-align: center;
}

/* Price content scrollbar styles */
.price-contents::-webkit-scrollbar {
    width: 38px; /* width of the scrollbar */
}

.price-contents::-webkit-scrollbar-track {
    display: none; /* Remove the scrollbar track */
}

.price-contents::-webkit-scrollbar-thumb {
    height:55px ;
    background-repeat:no-repeat;
    background-image: url("../../public/img/scrollbar/wheel.png");
    /* rounded corners of the scrollbar button */
}

.pricehead img{
    position: relative;
    top:5px;
    left:10px;
    cursor: pointer;
}

.price-contents {
    overflow-y: auto;
    height: 35vh;
}

/* Style The Dropdown Button */
.dropbtn {
    outline: none;
    font-family: 'Lato';
    font-style:normal;
    font-weight: 700;
    font-size: 32px;
    background-color: #D25A5A;
    color: black;
    padding: 0px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  font-weight: 700;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  list-style: none;
}

/* Change color of dropdown links on hover */
.dropdown-content :hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display:block;
}

.dropbtn{
    pointer-events: none;
}
