.main-container {
  display: flex;
  flex-direction: column;
  row-gap: 5em;
  width: 100%;
}

.main-header {
  background-color: #D25A5A;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header > .main-header-title {
  font-size: 96px;
  margin-bottom: 0.5em;
}

.main-header > .main-header-subtitle {
  margin-bottom: 1em;
}

.main-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1em;
}

.main-options {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.main-option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
  padding: 1em;
  flex-basis: 100%;
  align-items: center;
  cursor: pointer;
}

.main-explore {
  background-color: #D25A5A;
  padding: 0.5em;
  border-radius: 10px;
  cursor: pointer;
}

.explore{
  
}

.imgur{
  
}

.imgur img {

}
