.main-container {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  width: 100%;
}

.main-header {
  background-color: #D25A5A;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
}

.main-header > .main-header-title {
  font-size: 64px;
}

.main-header > .main-header-subtitle {
  font-size: 24px;
}

.main-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1em;
}

.main-options {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.main-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1em;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  padding: 1em;
  flex-basis: 100%;
  align-items: center;
  cursor: pointer;
}

.main-explore-btn {
  background-color: #D25A5A;
  padding: 0.5em;
  border-radius: 10px;
  cursor: pointer;
}