.main-container {
  display: flex;
  flex-direction: column;
  row-gap: 5em;
  width: 100%;
}

.main-header {
  background-color: #D25A5A;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header > .main-header-title {
  font-size: 96px;
}

.main-header > .main-header-subtitle {
  margin: 0 0 1em 0;
  font-size: 18px;
}

.main-body {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1em;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
}

.main-body > .main-option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
  padding: 1em;
  flex-basis: 100%;
  align-items: center;
  text-align: center;
  height:355px;
  cursor: pointer;
}

.main-body > .main-option > .main-explore {
  background-color: #D25A5A;
  padding: 0.5em;
  border-radius: 10px;
  cursor: pointer;
}

.explore{
  width:328px;
  line-height: 58px;
}

.imgur{
  margin-top: 20px;
}

.imgur img {
  width: 170px;
  height: auto;
}
