.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 54, 102, 0.3);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: relative;
}

.map-header {
  font-size: 36px;
  color: #fff;
}

.map-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  border-radius: 5px;
  position: relative;
}

.map {
  display: flex;
  align-items: center;
}

.map-region-container {
  position: relative;
}

.map-region {
  transform: scale(0.95);
  padding: 0;
  position: relative;
  pointer-events: none;
  z-index: 999;
}

.map-region > path {
  pointer-events: auto;
}

.map-region:hover {
  transform: scale(1);
}

.map-region-container.map-west {
  left:19em;
}

.map-region.region-west:hover + .region-info.region-info-west {
  visibility: visible;
  opacity: 1;
}

.map-region-container.map-north {
  bottom: 4em;
  left: 10em;
}

.map-region.region-north:hover + .region-info.region-info-north {
  visibility: visible;
  opacity: 1;
}

.map-region.region-central:hover + .region-info.region-info-central {
  visibility: visible;
  opacity: 1;
}

.map-region-container.map-north-east {
  bottom: 4.5em;
  right: 4.5em;
}

.map-region.region-north-east:hover + .region-info.region-info-north-east {
  visibility: visible;
  opacity: 1;
}

.map-region-container.map-east{
  top: 1em;
  right: 19.5em;
}

.map-region.region-east:hover + .region-info.region-info-east {
  visibility: visible;
  opacity: 1;
}

.region-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100%;
  left: 25%;
  border: 1px black dotted;
  border-radius: 10px;
  background-color: #efac91;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;
}

.region-info:before {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  top: 100%;
  border: 10px solid transparent;
  border-top-color: #efac91;
}

.region-info-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1em;
  border-radius: 10px;
  position: absolute;
  bottom: 80%;
}

.region-info-header.region-info-west {
  background-color: #74bd43;
}

.region-info-header.region-info-north {
  background-color: #8eb4e3;
}

.region-info-header.region-info-central {
  background-color: #f5b90f;
}

.region-info-header.region-info-north-east {
  background-color: #0070c0;
}

.region-info-header.region-info-east {
  background-color: #c00000;
}

.region-info-body {
  width: 100%;
  padding: 2em 1em 1em;
}

.cost-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  width: 20%;
  background-color: #FEA3A3;
}

.cost-header {
  font-size: 24px;
}

.cost-region {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
}

.cost-label {
  width: 10px;
  height: 10px;
  border-radius: 100px;
}

.label-west {
  background-color: #74bd43;
}

.label-north {
  background-color: #8eb4e3;
}

.label-central {
  background-color: #f5b90f;
}

.label-northeast {
  background-color: #0070c0;
}

.label-east {
  background-color: #c00000;
}