.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 54, 102, 0.3);
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.map-header {
  font-size: 36px;
  color: #fff;
}

.map-region {
  transform: scale(0.95);
  padding: 0;
  position: relative;
  pointer-events: none;
}

svg {
  fill: red;
}

.map-region > path {
  pointer-events: auto;
}

.map-region:hover {
  transform: scale(1);
}


.map-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  /* background-color: white; */
  border-radius: 5px;
}

.map {
  display: flex;
  align-items: center;
}

.map-region.region-west {
  left:19em;
}

.map-region.region-north {
  bottom: 4em;
  left: 10em;
}

.map-region.region-north-east {
  bottom: 4.5em;
  right: 4.5em;
}

.map-region.region-east{
  top: 1em;
  right: 19.5em;  
}