.app-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #F1D6D6;
    border-bottom: 7px solid #73708f;
  }

.app-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1em;
}

.app-actions > .app-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
  border-bottom: 3px solid #e26464;
}

.app-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1em;
}

.app-name {
  color: #2E5458;
}

.app-home > .app-logo {
  width: 125px;
}

.app-action > .app-logo {
  width: 30px;
}

.app-action > span {
  margin-right: 10px;
}

